{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block app_content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        {{ utils.flashed_messages() }}
        {% if devices %}
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Hostname </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for device in devices %}
                <tr>
                  <td> {{ device.hostname }} </td>
                  <td> {{ device.description }} </td>
                  <td>
                    <a href="{{ url_for('devices.edit_device', id=device.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('devices.delete_device', id=device.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No devices have been added. </h3>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}