{% raw %}
<div class="container-fluid" id="wholePage">

  <div class="row align-items-start justify-content-between" id="pageControls"  ng-controller="pageControls">
    <!-- Meny toogle button and view buttons -->
    <div class="col-4" align="left">
      <button type="button" class="btn btn-light btn-sm" ng-click="toggleLeft()">
        <md-icon ng-bind="menuIconVariable"></md-icon>
      </button>   
    </div>   
    <div class="col-4 text-right">
        <!--submit button-->
        <md-button type="submit" ng-click="SubmitImportData()">Submit Import</md-button>
    </div>
  <!--end of pageControls row -->
  </div>

  <!-- main contant section -->
  <div class="container-fluid">
    <md-nav-bar md-selected-nav-item="currentNavItem"
                nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="" name="device-import-csv">CSV</md-nav-item>
      <md-nav-item md-nav-click="" name="device-import-config">Config</md-nav-item>
      <md-nav-item md-nav-click="" name="device-import-json">Json</md-nav-item>
    </md-nav-bar>
      
    <span ng-switch on="currentNavItem">
        
      <div ng-switch-when="device-import-config"> 
        <div class="row" style="margin-top:10px;">
          <!-- data section such as file uploads or text -->
          <div class="col">
            <!-- File uploading form -->             
            <form>
              <input add-File type=file name=device_config_file>
              <!--<input ng-click="UploadButton($event)" type=submit value=Upload>-->
            </form>
            <!-- Text input area -->
            <textarea class="form-control" rows="3" ng-model="device_node_model.config.text[0]" 
                      aria-label="Notes"></textarea>        
          </div>
          <!-- TTP teplates section -->
          <div class="col">
            <md-select ng-model="device_node_model.ttp_template" placeholder="TTP template" 
                       class="md-no-underline" style="margin: 0px;">
              <md-option ng-repeat="ttp_template in ttp_templates" ng-value="ttp_template">{{ ttp_template }}</md-option>
            </md-select>
          </div>          
          <!-- parsing results section -->
          <div class="col">
            parsing results
          </div>
        </div>
      </div>
      <div ng-switch-when="device-import-json"> 
          Device import from json tab here
      </div>
        
        
      <div ng-switch-default>         
        <div class="container-fluid" style="margin-top:10px;">
          <!-- Nodes section -->
          <div class="row justify-content-between">
            <div class="col-4">
              <label for="csv_data">Nodes CSV Data</label>
            </div>
            <div class="col-4">
              <md-select ng-model="node_template" placeholder="Template" class="md-no-underline" style="margin: 0px;"
                         ng-change="load_device_model(node_template)">
                <md-option ng-repeat="node_template in node_templates" ng-value="node_template">{{ node_template }}</md-option>
              </md-select>
            </div>
          </div>
          <div class="row align-items-center">
            <textarea class="form-control" rows="3" id="csv_data"
                      ng-model="device_node_model.csv.nodes" md-select-on-focus
                      aria-label="Notes"></textarea>
          </div>
          <div>
            <span ng-repeat="item in device_node_model.properties.mandatory">
              {{ item.propertyName }}* - {{ item.propertyInfo }}
              <br>
            </span>
            <span ng-repeat="item in device_node_model.properties.optional">
              {{ item.propertyName }} - {{ item.propertyInfo }}
              <br>
            </span>
          </div>
            
          <!-- Links Section -->
          <br>
          <div class="row align-items-center">
            <div class="col">
              <label for="csv_data">Relataionships CSV Data</label>
            </div>
            <div class="col">
              templates select here
            </div>
          </div>
          <div class="row align-items-center">
            <textarea class="form-control" rows="3" id="csv_data"
                      ng-model="importData.csv.relationships" md-select-on-focus
                      aria-label="Notes"></textarea>
          </div>
          <div ng-repeat="(key, help) in importData.csv_fields_info">
            {{ key }} - {{ help }}
          </div>
            
        </div>
      </div>
    </span>
  </div>
    
<!-- end of this page-->
</div>
{% endraw %}