{% raw %}
<div class="container-fluid" style="width: 70%;">
<h1>Add New Location</h1>

<form name="locationForm">
  <div class="panel panel-default">
    <div class="panel-heading">Labels</div>
     <md-content class="md-padding" layout="column">
      <h4>Default</h4>
      <md-chips ng-model="form_data.labels.mandatory" readonly="true"
                md-removable="false" md-enable-chip-edit="false"></md-chips>
      <h4>Additional</h4>
      <md-chips ng-model="form_data.labels.optional" readonly="false"
                md-removable="true" md-enable-chip-edit="true"
                placeholder="Add labels" secondary-placeholder="+add"></md-chips>
      <br/>
      </md-content>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Properties</div>
    <md-content layout-padding>
      <div>
        <!-- Manatory properties -->
        <h4>Manadatory </h4>
        <span ng-repeat="property in form_data.properties.mandatory">
          <div layout-gt-sm="row">
            <!-- property name field -->
            <md-input-container class="md-block" flex="30" ng-switch on="property.unique">
              <div ng-switch-when="true"> 
                <input ng-model="property.propertyName" placeholder="{{property.propertyName}} (Value must be unique)" disabled>
              </div>
              <div ng-switch-default>
                <input ng-model="property.propertyName" placeholder="{{property.propertyName}}" disabled>
              </div>                
            </md-input-container>
            <!-- property type selector -->
            <md-input-container class="md-block" flex="10">
              <label>Type</label>
              <md-select ng-model="property.propertyType">
                <md-option value="{{property.propertyType}}">
                  {{property.propertyType}}
                </md-option>
              </md-select>
            </md-input-container>
            <!-- property value field -->
            <md-input-container class="md-block" flex="60">
              <input name="mandatory_value" ng-model="property.propertyValue" placeholder="Value" required>
              <div ng-messages="locationForm.mandatory_value.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
        </span>
          
        <!-- Additiona/Optional properties -->
        <h4>Optional</h4>
        <span ng-repeat="property in form_data.properties.optional">
          <div layout-gt-sm="row">
            <!-- property name field -->
            <md-input-container class="md-block" flex="30" ng-switch on="property.unique">
              <div ng-switch-when="true"> 
                <input ng-model="property.propertyName" placeholder="Name (Value must be unique)">
              </div>
              <div ng-switch-default>
                <input ng-model="property.propertyName" placeholder="Name">
              </div>
            </md-input-container>
            <!-- property type selector -->
            <md-input-container class="md-block" flex="10">
              <label>Type</label>
              <md-select ng-model="property.propertyType">
                <md-option ng-repeat="type in form_data.properties.types" value="{{type}}">
                  {{type}}
                </md-option>
              </md-select>
            </md-input-container>
            <!-- property value field -->
            <md-input-container class="md-block" flex="60" ng-switch on="property.propertyType">
              <div ng-switch-when="string">
                <input name="type" ng-model="property.propertyValue" placeholder="Value">
              </div>
              <div ng-switch-when="boolean"> 
                <md-radio-group ng-model="property.propertyValue" layout-gt-sm="row" style="margin-left: 70px;">
                  <md-radio-button value="true">True</md-radio-button>
                  <md-radio-button value="false">False</md-radio-button>
                </md-radio-group>
              </div>
              <div ng-switch-when="list">            
                <md-chips ng-model="property.chips" readonly="false"
                  md-removable="true" md-enable-chip-edit="true"
                  style="min-height:10px;"
                  placeholder="Add values" secondary-placeholder="+value"></md-chips>
              </div>         
              <div ng-switch-when="integer">            
                <input name="integer" ng-model="property.propertyValue" placeholder="Value" ng-pattern="/^[0-9]+$/">
                <div ng-messages="locationForm.integer.$error">
                  <div ng-message="pattern">Please enter digit</div>
                </div>
              </div>   
              <div ng-switch-when="note" id="scrollTextArea">               
                <textarea ng-model="property.propertyValue" md-select-on-focus
                          style="max-height:100px; 
                                 min-height:10px; 
                                 overflow-y: scroll;" 
                          aria-label="Notes"></textarea>
              </div>                
              <div ng-switch-default>
                <input name="type" ng-model="property.propertyValue" placeholder="Value">
              </div>
            </md-input-container>
            <button type="button" style="height: 40px; margin-top: 10px; margin-left: 5px;" 
                    class="glyphicon glyphicon-minus btn" ng-click="removeOptionalProperty(property)"></button>
          </div>
         </span>
        <!-- button to add new optional property -->
        <md-button class="md-raised" ng-click="addOptionalProperty()">Add</md-button>
      </div>
    </md-content>
  </div>
 <!-- submit form butto -->
 <div>
   <md-button type="submit" ng-click="SubmitForm(locationForm)">Submit</md-button>
 </div>
</form>
</div>
{% endraw %}