{% extends "base.html" %}
{% block head %}
{{super()}}
{% raw %}
<script type="text/javascript">       
var locationsApp = angular.module('locationsApp', ['ngRoute', 'ngMaterial', 'ngMessages']);

locationsApp.config(function($routeProvider) {
  $routeProvider.
    when('/', {
      templateUrl: '/locations/list.html',
      controller: 'LocationsListCtrl'
    }).
    when('/create', {
      templateUrl: '/locations/create.html',
      controller: 'LocationCreateCtrl'
    }).
    when('/:locationId', {
      templateUrl: '/locations/location.html',
      controller: 'LocationDetailCtrl'
    }).
    otherwise({
      redirectTo: '/'
    });
});
   
// Customize colouring
locationsApp.config(function($mdThemingProvider) {
  $mdThemingProvider.theme('default')
    .primaryPalette('blue-grey')
    .accentPalette('grey')
    .warnPalette('red');
});
    
locationsApp.factory('locations_factory', function($http){
  return {
    shared_data: {},
    list: function (callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations?brief=True',
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback, null);
    },
    find: function(id, callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations/' + id,
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback);
    },
    get_location_create_form: function(callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations/templates',
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback);
    },
    create_location: function(data) {
      $http({
        method: 'POST',
        url: 'http://192.168.64.128:9000/api/locations/create',
        headers: {
            "Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2",
            'Content-Type': 'application/json; charset=utf-8'
        },
        data: data
      }).then(function(response) {
          console.log("Success", response.status, response.data)
        }, function(response) {
          console.log("Error", response.status, response.data)
      });
    },
    delete_location: function(data) {
      $http({
        method: 'POST',
        url: 'http://192.168.64.128:9000/api/locations/delete',
        headers: {
            "Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2",
            'Content-Type': 'application/json; charset=utf-8'
        },
        data: data
      }).then(function(response) {
          console.log("Success", response.status, response.data)
        }, function(response) {
          console.log("Error", response.status, response.data)
      });
    }
  };
});
       
locationsApp.controller('LocationsListCtrl', function ($scope, locations_factory){
  locations_factory.list(function(response) {
    $scope.locations = response.data.data;
    for (var i = 0; i < $scope.locations.length; i++) {
            $scope.locations[i].checkbox = false
        }      
    // save locations in shared data so that can access it from other controllers
    locations_factory.shared_data.locations = $scope.locations
  });
  // function to set checkbox selected to all items in the table if header checkbox checkecd
  $scope.checkboxAll = function() {
    for (var i = 0; i < $scope.locations.length; i++) {
            $scope.locations[i].checkbox = $scope.locations.checkboxAll
        }        
  };
});
    
locationsApp.controller('LocationDetailCtrl', function ($scope, $routeParams, locations_factory){
  locations_factory.find($routeParams.locationId, function(location) {
    $scope.location = location.data.data;
  });
});
    
locationsApp.controller('LocationCreateCtrl', function ($scope, $window, locations_factory){
  //load location create form model from server
  locations_factory.get_location_create_form(function(response) {
    $scope.form_data = response.data;
    // add empty chips list to form_data optional properties
    for (var i = 0; i < $scope.form_data.properties.optional.length; i++) {
        $scope.form_data.properties.optional[i].chips = []
    }
  });
  $scope.addOptionalProperty = function() {
      $scope.form_data.properties.optional.push({"propertyName": "", "propertyType": "", "propertyValue": "", "chips": []})
  };
  $scope.removeOptionalProperty = function(property) {
      var itemIndex = $scope.form_data.properties.optional.indexOf(property)
      $scope.form_data.properties.optional.splice(itemIndex, 1)
  };
  $scope.SubmitForm = function(form) {
      if (form.$valid) {
          locations_factory.create_location($scope.form_data)
          // redirect to locations page
          $window.location.href = "#!/"
          $window.location.reload()
      }
  };
});
    
locationsApp.controller('pageControls', function ($scope, $window, locations_factory){
  $scope.deleteItems = function() {
      var delete_list = [];
      for (var i = 0; i < locations_factory.shared_data.locations.length; i++) {
          location_item = locations_factory.shared_data.locations[i]
          if (location_item.checkbox == true) {
              delete_list.push(location_item)
          }
      }      
      locations_factory.delete_location(delete_list)
      // redirect to locations page
      $window.location.href = "#!/"
      $window.location.reload()
  };    
});
    
    
locationsApp.controller('OverallCtrl', function ($scope, $mdSidenav) {
  $scope.toggleLeft = buildToggler('left');

  function buildToggler(componentId) {
    return function() {
      $mdSidenav(componentId).toggle();
    };
  }
    
    $scope.organizations = [
      {
        department: 'Sales',
        managers: [
          {
            name: 'Jane',
            reports: [
              {name: 'Rick'},
              {name: 'Joan'},
              {name: 'Ron'}
            ]
          },
          {
            name: 'Jim',
            reports: [
              {name: 'Bob'},
              {name: 'Sandra'},
              {name: 'Juan'}
            ]
          }
        ]
      },
      {
        department: 'Engineering',
        managers: [
          {
            name: 'Janet',
            reports: [
              {name: 'Betty'},
              {name: 'Corrie'},
              {name: 'Carlos'}
            ]
          },
          {
            name: 'Randy',
            reports: [
              {name: 'Julia'},
              {name: 'Matt'},
              {name: 'Kara'}
            ]
          }
        ]
      },
      {
        department: 'Marketing',
        managers: [
          {
            name: 'Peggy',
            reports: [
              {name: 'Dwight'},
              {name: 'Pam'},
              {name: 'Jeremy'}
            ]
          },
          {
            name: 'Andrew',
            reports: [
              {name: 'Stephen'},
              {name: 'Naomi'},
              {name: 'Erin'}
            ]
          }
        ]
      }
    ];

    $scope.onClick = function onClick(item) {
      console.log(item);
    };
});
</script>
{% endraw %}
{% endblock %}

{% block body %}
{{super()}}
<body  ng-app="locationsApp" ng-controller="OverallCtrl"></body>
{% endblock %}

{% block app_content %}
{% raw %}
<div ng-view class="container-fluid" style="padding: 0px;"></div>
{% endraw %}
{% endblock %}