{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Locations{% endblock %}

{% block head %}
{{super()}}
{% raw %}
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
-->
<!-- Angular Material Library 
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
-->
<!-- Angular Material style sheet
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
-->

<!-- OLD imports
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
-->
<script type="text/javascript">       
var locationsApp = angular.module('locationsApp', ['ngRoute' 
                                                   //'ngMaterial', 
                                                   //'ngMessages'
                                                  ]);

locationsApp.config(function($routeProvider) {
  $routeProvider.
    when('/', {
      templateUrl: '/locations/list.html',
      controller: 'LocationsListCtrl'
    }).
    when('/create', {
      templateUrl: '/locations/create.html',
      controller: 'LocationCreateCtrl'
    }).
    when('/:locationId', {
      templateUrl: '/locations/location.html',
      controller: 'LocationDetailCtrl'
    }).
    otherwise({
      redirectTo: '/'
    });
});
    
locationsApp.factory('locations', function($http){
  return {
    list: function (callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations?brief=True',
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback, null);
    },
    find: function(id, callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations/' + id,
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback);
    }
  };
});
       
locationsApp.controller('LocationsListCtrl', function ($scope, locations){
  locations.list(function(response) {
    $scope.locations = response.data.data;
  });
});
locationsApp.controller('LocationDetailCtrl', function ($scope, $routeParams, locations){
  locations.find($routeParams.locationId, function(location) {
    $scope.location = location.data.data;
  });
});
locationsApp.controller('LocationCreateCtrl', function ($scope, $routeParams, locations){
  $scope.form_data = {
      "labels": {
          "mandatory": [
              {"labelName": "location"}
          ], 
          "optional": [
              {"labelName": "test_optional_label-1"},
              {"labelName": "test_optional_label-2"}
          ]},
      "properties": {
          "mandatory": [
              {"propertyName": "name"}, 
              {"propertyName": "address"}
          ], 
          "optional":[]}
  };
  $scope.addNewMandatoryLabel = function() {
      $scope.form_data.labels.mandatory.push({'labelName':''});
  };
  $scope.addNewOptionalLabel = function() {
      $scope.form_data.labels.optional.push({'labelName':''});
  };
});
</script>
{% endraw %}
{% endblock %}

{% block body %}
{{super()}}
<body  ng-app="locationsApp"></body>
{% endblock %}

{% block page_controls %}
<div class="container-fluid">
  <div class="btn-group pull-right" style="margin-bottom: 10px;" role="group">
    <button type="button" class="glyphicon glyphicon-plus btn" onclick="window.location.href = '#!/create'"></button>
  </div>
</div>
{% endblock %}

{% block app_content %}
{% raw %}
<div ng-view></div>
{% endraw %}
{% endblock %}