{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Locations{% endblock %}

{% block head %}
{{super()}}
{% raw %}
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

<!-- Angular Material Library-->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

<!-- Angular Material style sheet -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">


<!-- OLD imports
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
-->
<script type="text/javascript">       
var locationsApp = angular.module('locationsApp', ['ngRoute', 'ngMaterial', 'ngMessages']);

locationsApp.config(function($routeProvider) {
  $routeProvider.
    when('/', {
      templateUrl: '/locations/list.html',
      controller: 'LocationsListCtrl'
    }).
    when('/create', {
      templateUrl: '/locations/create.html',
      controller: 'LocationCreateCtrl'
    }).
    when('/:locationId', {
      templateUrl: '/locations/location.html',
      controller: 'LocationDetailCtrl'
    }).
    otherwise({
      redirectTo: '/'
    });
});
    
locationsApp.factory('locations', function($http){
  return {
    list: function (callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations?brief=True',
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback, null);
    },
    find: function(id, callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations/' + id,
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback);
    },
    get_location_create_form: function(callback){
      $http({
        method: 'GET',
        url: 'http://192.168.64.128:9000/api/locations/create_form',
        headers: {"Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2"},
        cache: true
      }).then(callback);
    },
    create_location: function(data) {
      $http({
        method: 'POST',
        url: 'http://192.168.64.128:9000/api/locations/create',
        headers: {
            "Authorization": "Bearer hmuWG750nIxTHEfTIjLtjviX6udcURR2",
            'Content-Type': 'application/json; charset=utf-8'
        },
        data: data
      }).then(function(response) {
          console.log("Success", response.status, response.data)
        }, function(response) {
          console.log("Error", response.status, response.data)
      });
    }
  };
});
       
locationsApp.controller('LocationsListCtrl', function ($scope, locations){
  locations.list(function(response) {
    $scope.locations = response.data.data;
  });
});
    
locationsApp.controller('LocationDetailCtrl', function ($scope, $routeParams, locations){
  locations.find($routeParams.locationId, function(location) {
    $scope.location = location.data.data;
  });
});
    
locationsApp.controller('LocationCreateCtrl', function ($scope, $window, locations){
  //load location create form model from server
  locations.get_location_create_form(function(response) {
    $scope.form_data = response.data;
    // add empty chips list to form_data optional properties
    for (var i = 0; i < $scope.form_data.properties.optional.length; i++) {
        $scope.form_data.properties.optional[i].chips = []
    }
  });
  $scope.addOptionalProperty = function() {
      $scope.form_data.properties.optional.push({"propertyName": "", "propertyType": "", "propertyValue": "", "chips": []})
  };
  $scope.removeOptionalProperty = function(property) {
      var itemIndex = $scope.form_data.properties.optional.indexOf(property)
      $scope.form_data.properties.optional.splice(itemIndex, 1)
  };
  $scope.SubmitForm = function(form) {
      if (form.$valid) {
          locations.create_location($scope.form_data)
          // redirect to locations page
          $window.location.href = "#!/"
      }
  };
});
</script>
{% endraw %}
{% endblock %}

{% block body %}
{{super()}}
<body  ng-app="locationsApp"></body>
{% endblock %}

{% block page_controls %}
{% raw %}
<div class="container-fluid">
  <div class="btn-group pull-right" style="margin-bottom: 10px;" role="group">
    <button type="button" class="glyphicon glyphicon-edit btn" onclick="window.location.href = '#!/'"></button>      
    <button type="button" class="glyphicon glyphicon-trash btn"></button>   
    <button type="button" class="glyphicon glyphicon-plus btn btn-success dropdown-toggle" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#!/create">Node</a></li>
      <li><a href="#">Relationship</a></li>
    </ul>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block app_content %}
{% raw %}
<div ng-view></div>
{% endraw %}
{% endblock %}