<html>
<head>
  <title>
    {% if title %}{{ title }}{% else %}ITAPPS{% endif %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <!-- local CSS styles -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
  <!-- Angular -->
  <!-- Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <!-- Angular Material Library-->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    
  <!-- bootstrap 4 -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
  <!-- Iconinc Icons -->
  <link href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}" rel="stylesheet">
</head>
    
{% if current_user.is_authenticated %}
<body ng-app="locationsApp" ng-controller="OverallCtrl">   
{% raw %}
<md-content id="body-part" flex layout="row" layout-fill>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4"
                style="width: 10%;" md-is-locked-open="isSideNavOpen">        
      <md-toolbar class="md-menu-toolbar">
        <div layout="column">
            <md-menu-bar>
              <md-menu md-position-mode="cascade">
                <button aria-label="Open menu" ng-click="$mdMenu.open($event)">
                  Organizations
                </button>
                <md-menu-content width="3">
                  <md-menu-item ng-repeat="org in organizations">
                    <md-menu class="nested-menu">
                      <md-button ng-click="onClick(org.department)">{{ org.department }}</md-button>
                      <md-menu-content width="3">
                        <md-menu-item ng-repeat="manager in org.managers">
                          <md-menu>
                            <md-button ng-click="onClick(manager.name)">{{ manager.name }}</md-button>
                            <md-menu-content width="2">
                              <md-menu-item ng-repeat="person in manager.reports">
                                <md-button ng-click="onClick(person.name)">{{ person.name }}</md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-bar>
        </div>
      </md-toolbar>
    </md-sidenav>
{% endraw %}
    
  <div>
    <button type="button" class="btn btn-light btn-lg" ng-click="toggleLeft()">
      SideNav
    </button>   
  </div>
    
{% block app_content %} 
  <div ng-view flex style="padding: 0px;"></div>
{% endblock %}
<md-content>
{% else %}
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0px;">
  <a class="navbar-brand" href="{{ url_for('home.homepage') }}">ITAPPS</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
    </ul>
   </div>
</nav>
{% endif %}
       
<!-- Optional Bootstrap 4 JavaScript -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- ITAPS Script -->
<script type="text/javascript" src="{{ url_for('static', filename='js/itapps_v0.js') }}"></script>
</body>
</html>