{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}
    {% if title %}{{ title }}{% else %}ITAPPS{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" style="margin-bottom: 10px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home.homepage') }}">ITAPPS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link(TBD)</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Companies<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Organizations</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Roles</a></li>
            <li><a href="#">Persons</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sites</a></li>
            <li><a href="#">Racks</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vendors<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Vendors</a></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Licences</a></li>
            <li><a href="#">Contracts</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Devices<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('devices.list_devices') }}">Devices</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Switching<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Vlans</a></li>
            <li><a href="#">Vxlan</a></li>
            <li><a href="#">VPLS</a></li>
            <li><a href="#">PWE</a></li>
            <li><a href="#">EVPN</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Routing<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">VRF</a></li>
            <li><a href="#">Vxlan</a></li>
            <li><a href="#">VPLS</a></li>
            <li><a href="#">PWE</a></li>
            <li><a href="#">EVPN</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
{% block page_controls %}{% endblock %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}